.langButton {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  overflow: hidden;

  // outline: 1px solid red;

  button {
    height: 100%;
    width: 100%;
    font-size: 1vmax;
    padding: .4vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: rgb(8, 87, 161);
    border-radius: .2vmax;
    transition: border .3s;
    border: .1vmax solid transparent;
    cursor: pointer;
  }

  .flag {
    width: 100%;
    outline: .1vmax solid rgba(128, 128, 128, 0.421);

    &.on {
      filter: grayscale(50%);
      cursor: auto;
    }
  }

  // .langSwitcher {
  //   height: 100%;
  //   width: 100%;
  //   padding: .4vmax;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   background: transparent;
  //   font-size: 16px; 
  //   color: rgb(8, 87, 161);
  //   border-radius: .2vmax;
  //   transition: border .3s;
  //   border: .1vw solid transparent;

  //   &.active,
  //   &:focus,
  //   &:active,
  //   &:hover {
  //     border: .1vw solid rgb(8, 87, 161);
  //   }
  // }
}
