.langButton {
  display: flex;
  justify-content: space-around;
  align-items: center; 
  width: 100%;
  overflow: hidden;

  button {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vmax;
    background-color: transparent;
    cursor: pointer;
  }

  .flag {
    width: 100%;
    outline: .1vmax solid rgba(128, 128, 128, 0.421);
    border-radius: .2vmax;
    &.on {
      filter: grayscale(50%);
      cursor: auto;
    }
  }

  // .langSwitcher {
  //   height: 100%;
  //   width: 100%;
  //   padding: .4vmax;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   background: transparent;
  //   font-size: 16px; 
  //   color: rgb(8, 87, 161);
  //   border-radius: .2vmax;
  //   transition: border .3s;
  //   border: .1vw solid transparent;

  //   &.active,
  //   &:focus,
  //   &:active,
  //   &:hover {
  //     border: .1vw solid rgb(8, 87, 161);
  //   }
  // }
}
