.selectInput {
  // position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  .inputWrapper {
    position: relative;
    display: flex;
    width: 100%;
    
    .htmInput {
      width: 100%;
      padding: .7vmax 3vmax .7vmax 1vmax;
      font: inherit;
      letter-spacing: .01vmax;
      font-size: inherit;
      font-weight: 400;
      font-size: 1vmax;
      color: #424242;
      border-bottom: .1vmax solid #424242;
      border-radius: .1vmax;
      background-color: transparent;
      transition: background-color 1s;
      
      &:focus {
        color: navy;
        background-color: rgba(255, 217, 0, 0.111);
      }
    }

    .clearBtn {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 0;
      border: none;
      padding: 0;
      margin: 0;
      background-color: transparent;
      width: 2vmax;
      height: 2vmax;
      color: gray;
      transition: color .3s;
      font-size: 1.7vmax;
      font-weight: 100;
      opacity: 0;
      transition: opacity .3s;
      border-radius: .1vmax;

      &.showClnBtn {
        opacity: 1;
      }

      &:focus,
      &:hover {
        color: red;
      } 
    }
    
    .loading {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      border: none;
      padding: 0;
      margin: 0;
      background-color: transparent;
      width: 2vmax;
      height: 2vmax;
      opacity: 0;
      transition: opacity .3s;
      border-radius: .1vmax;

      &.showLoading {
        opacity: 1;
      }
    }     
  }



  .window {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 1vmax;
    border: .1vmax solid gray;
    width: 74vw;
    left: 50%;
    margin-left: -37vw;
    height: 84vh;
    top: 50%;
    margin-top: -42vh;

    // background-color: rgb(34, 34, 34);
    background-color: #f6f6fb;

    z-index: 999;

    .header {
      margin-bottom: 1vmax;
    }

    .tableHead {
      display: flex;
      min-height: 6vmax;
      margin-left: .1vmax;
      margin-right: .1vmax;
      margin-top: 1vmax;
      outline: .1vmax solid grey;
      align-items: center;
      padding: .1vmax;

      overflow-y: scroll;
      scrollbar-color: transparent transparent;
      // &::-webkit-scrollbar { width: 3px; }
      &::-webkit-scrollbar-track { background: transparent; }
      &::-webkit-scrollbar-thumb { background-color: transparent; }
      

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5vmax;
        // margin-right: .5vmax;
        font-weight: 700;
        height: 5vmax;
        overflow: hidden;
        // background-color: rgb(187, 187, 187);
      }

      .headCheck{
        justify-content: center;
        width: 4vmax;
        flex-grow: 0;
        flex-shrink: 0;
        // outline: 1px solid green;

        .checklAll {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 1.5vmax;
          height: 1.5vmax;
          background-color: transparent;
          padding: 0;
          margin: 0;
          outline: .1vmax solid grey;
          color: transparent;
          transition: color .3s;

          &.notAll {
            color: gray;
          }
          &.all {
            color: lightgreen;
          }

          &:hover,
          &:focus {
            background-color: #ffffff18
          }
        }
      }
      .headCode{
        min-width: 3vmax;
        max-width: 85%;
        overflow: hidden;
        flex-grow: 0;
        flex-shrink: 0;
        border-left: .1vmax dotted grey;
        // outline: 1px solid red;
      }
      .headName{
        min-width: 3vmax;
        max-width: 95%;
        overflow: hidden;
        border-left: .1vmax dotted grey;
        flex-grow: 1;
        // outline: 1px solid blue;
      }      
    }
    .main {
      flex-grow: 1;
      width: 100%;

      overflow-y: scroll;
      padding: .1vmax;
      padding-top: .5vmax;
      padding-bottom: .5vmax;
      margin: 0;
      margin-top: .1vmax;
      margin-bottom: 1vmax;
      // 
    }


    .footer {
      display: flex;
      justify-content: space-around;

      button {
        width: 25%;
        margin-bottom: .3vmax;
        background-color: transparent;
        color: #161619;
        // color: wheat;
        border: .1vmax solid gray;
        border-radius: .3vmax;
        padding: 1vmax;
        text-align: left;
        cursor: pointer;
        text-align: center;
        transition: background-color .3s;
  
        &:hover,
        &:focus {
          background-color: #16161919
        }
      }      
    }

    animation: appearance 300ms ease-in-out forwards;
    @keyframes appearance {
      0% {
        opacity: .3;
      }
      80% {
      }
      100% {
        opacity: .99;
      }
    }

  }



  //
  // Dark styles
  //
  &.dark {
    .htmInput {
      color: gray;  

      &:focus {
        color: rgb(207, 207, 229);
        background-color: rgba(0, 0, 128, 0.036);
      }
    }   
    .clearBtn {
      &:focus,
      &:hover {
        color: coral;
      } 
    }


    .window {
      border: .1vmax solid gray;

      background-color: rgb(34, 34, 34);
      .header {
      }
  
      .tableHead {
        outline: .1vmax solid grey;
        
  
        div {
        }
  
        .headCheck{  
          .checklAll {
            outline: .1vmax solid grey;
  
            &.notAll {
              color: gray;
            }
            &.all {
              color: lightgreen;
            }
  
            &:hover,
            &:focus {
              background-color: #ffffff18
            }
          }
        }
        .headCode{
          border-left: .1vmax dotted grey;
        }
        .headName{
          border-left: .1vmax dotted grey;
        }      
      }
      .main {
      }
  
  
      .footer {
  
        button {
          color: wheat;
          &:hover,
          &:focus {
            background-color: #16161919
          }
        }      
      }
  
    }    
  } 
}  

.loader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    svg {
      width: 3vmax;
      height: 3vmax;
    }
  }  