.header {
  position: relative;
  min-height: 4vmax;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7vmax;
  padding: .5vmax;
  // margin-bottom: 1vmax;

  & > div {
    h1 {
      font-weight: 500;
    }
    // .nameForm {
    //   font-size: 1.1vmax;
    //   color: #424242;
    //   text-transform: uppercase;
    // }
  }

  .preferences {
    position: absolute;
    right: 3.5vmax;
    top: .6vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vmax;
    padding: 1vmax;
    padding-bottom: 0;
    background-color: #EBEBEB;
    border: .15vmax solid gray;
    border-radius: .3vmax;
    z-index: 900;

    & > div {
      width: 100%;
      margin-bottom: 1vmax;
    }

    .btnClosePreferences {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      margin: 0;
      padding: 0;
      border: .1vmax solid transparent;
      cursor: pointer;
      color: gray;
      font-size: 1vmax;
      margin-bottom: .5vmax;

      &:active,
      &:focus,
      &:active,
      &:hover {
        color: red;
      }
    }
  }

  .btnPreferences {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: .5vmax;
    background-color: transparent;
    color: gray;
    border: none;
    border-radius: .3vmax;
    cursor: pointer;
    border: .1vw solid transparent;
    transition: border .3s;
    width: 2.5vmax;
    height: 2.5vmax;

    // .btnPreferencesIcon {
    //   width: 1.5vmax;
    //   height: 1.5vmax;
    // }
    // border: .1vw solid grey;
    
    div {
      position: absolute;
      top: 47.8%;              
      left: calc(50%+0.5vmax);
      content: '';
      width: 1vmax;
      height: .1vmax;
      border-bottom: .2vmax solid gray;
      transition: opacity .3s;
    }

    &::after {
      position: absolute;
      top: 35%;
      left: calc(50%+0.5vmax);
      content: '';
      width: 1vmax;
      height: .1vmax;
      border-bottom: .2vmax solid gray;
      transition: transform .3s, top .3s;

    }
    &::before {
      position: absolute;
      top: 60%;
      left: calc(50%+0.5vmax);
      content: '';
      width: 1vmax;
      height: .1vmax;
      border-bottom: .2vmax solid gray;
      // transform: rotate(90deg);
      transition: transform .3s, top .3s;
    }
    &.changed {
      &::after {
        top: 40%;
        transform: rotate(-135deg);
      }
      &::before {
        top: 55%;
        transform: rotate(135deg);
      }
      div {
        opacity: 0;
      }
    }

    &:active,
    &:focus,
    &:active,
    &:hover {
      border: .1vw solid grey;
    }
  }

  &.dark {
    color: wheat;

    & > div {
      .nameForm {
        color: wheat;
      }
    }

    .preferences {
      background-color: #161619;

      .btnClosePreferences {
        &:active,
        &:focus,
        &:active,
        &:hover {
          color: coral;
        }
      }
    }
  
  }
}