.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4vmax;
    font-size: 3vmax;

    .preferences {
        position: absolute;
        right: 1vmax;
        top: 1vmax;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 10vmax;
        padding: 1vmax;
        padding-bottom: 0;

        border: 1px solid gray;
        border-radius: .3vmax;

        &>div {
            width: 100%;
            margin-bottom: 1vmax;
        }
    }

    .btnPreferences {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: .5vmax;
        background-color: transparent;
        border: none;
        border-radius: .3vmax;
        cursor: pointer;
        border: .1vw solid transparent;
        transition: border .3s;

        .btnPreferencesIcon {
            width: 1.5vmax;
            height: 1.5vmax;
        }

        &.active,
        &:focus,
        &:active,
        &:hover {
            border: .1vw solid rgb(8, 87, 161);
        }
    }
}

