.approvals {
  animation: appearance 700ms ease-in-out forwards;

  .btnRouteApproval {
    width: 100%;
    min-height: 20px;
    height: 7vh;
    margin-bottom: .3vmax;
    background-color: transparent;
    color: #161619;
    border: .1vmax solid gray;
    // border-radius: .3vmax;
    padding: 1vmax;
    text-align: left;
    cursor: pointer;
    color: #161619;
    text-align: center;
    transition: background-color .3s;

    &:hover,
    &:focus {
      background-color: lightskyblue
    }

    .loader {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      
      svg {
        width: 3vmax;
        height: 3vmax;
      }
    }    
  }

  //
  // Dark styles
  //
  &.dark {
    .btnRouteApproval {
      background-color: transparent;
      border: .1vmax solid gray;
      color: wheat;

      &:hover,
      &:focus {
        background-color: #ffffff18;
      }
    }  
  }

  @keyframes appearance {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}  

@media screen and (min-width: 1300px) {
  .approvals {
    font-size: .8vmax;
    .btnRouteApproval {
      min-height: 20px;
      height: 6vh;
      margin-bottom: .3vmax;
      border: .1vmax solid gray;
      padding: 1vmax;
    }

  } 
}

@media screen and (max-width: 1000px) {

}
