.approvals {
  animation: appearance 700ms ease-in-out forwards;

  .btnRouteApproval {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 20px;
    height: 7vh;
    margin-bottom: .3vmax;
    background-color: transparent;
    color: #161619;
    border: .1vmax solid gray;
    // border-radius: .3vmax;
    padding: 1vmax;
    text-align: left;
    cursor: pointer;
    color: #161619;
    text-align: center;
    transition: background-color .3s;

    &:hover,
    &:focus {
      background-color: lightskyblue
    }

    .loader {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      
      svg {
        width: 3vmax;
        height: 3vmax;
      }
    }    
  }

  .approvalLists {
    font: inherit;
    font-weight: 300;
    font-size: 1vmax;

    .oneRoleApproval {
      margin-bottom: 1vmax;

      .nameRoleApproval {
        margin-bottom: .5vmax;
        font-weight: 500;
        color: rgb(207, 206, 206);
      }

      .roleApprovals {

        // max-height: 0;
        // overflow-y: hidden;

        color: #aaa9a9;
        width: 100%;
        display: grid;
        gap: 1px;
        grid-template-rows: auto;  
        grid-template-columns: 25% auto; 

        & > div {

          // max-height: 1vmax;
          // overflow-y: hidden;

          display: flex;
          align-items: center;
          min-height: 2.0vmax;
          padding: .4vmax;
          outline: .1vmax dotted rgba(128, 128, 128, 0.24);
          letter-spacing: .01vmax;

          &.stageNum {
            justify-content: center;
          }

          &.levelApprove {
            padding: 0;
            width: 100%;
            display: grid;
            gap: 1px;
            grid-template-rows: auto;  
            grid-template-columns: repeat(2, 1fr); 

            & > div {
              
              display: flex;
              align-items: center;
              min-height: 2.0vmax;
              padding: .4vmax;
              outline: .1vmax dotted rgba(128, 128, 128, 0.24);
              letter-spacing: .01vmax;
            }  
          }
        }
      }      
    }     

  }

  //
  // Dark styles
  //
  &.dark {
    .btnRouteApproval {
      background-color: transparent;
      border: .1vmax solid gray;
      color: wheat;

      &:hover,
      &:focus {
        background-color: #ffffff18;
      }
    }  
  }

  @keyframes appearance {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}  

@media screen and (min-width: 1300px) {
  .approvals {
    animation: appearance 700ms ease-in-out forwards;
  
    .btnRouteApproval {
      min-height: 20px;
      height: 7vh;
      margin-bottom: .3vmax;
      padding: 1vmax;
      font-size: .8vmax;

      .loader {
        
        svg {
          width: 1.5vmax;
          height: 1.5vmax;
        }
      }    
    }
  
    .approvalLists {
      font: inherit;
      font-weight: 300;
      font-size: .8vmax;
  
      .oneRoleApproval {
        margin-bottom: 1vmax;
  
        .nameRoleApproval {
          margin-bottom: .5vmax;
          font-weight: 500;
        }
  
        .roleApprovals {
  
          & > div {
            min-height: 2.0vmax;
            padding: .4vmax;
            letter-spacing: .01vmax;

            &.levelApprove {  
              & > div {
                min-height: 2.0vmax;
                padding: .4vmax;
                letter-spacing: .01vmax;
              }  
            }
          }
        }      
      }
    }
  }   
}




@media screen and (max-width: 1000px) {

}
