.valueRow{
  display: flex;
  width: 100%;
  margin-bottom: .5vmax;
  align-items: center;
  min-height: 2vmax;
  outline: 1px solid gray;
  
  div {
    display: flex;
    align-items: center;
    padding: .5vmax;
    margin-left: .5vmax;
    font-weight: 400;
  }

  .visualCheck{
    justify-content: center;
    width: 2vmax;
    flex-grow: 0;
    flex-shrink: 0;
    // outline: 1px solid green;
  }
  .visualCode{
    min-width: 3vmax;
    max-width: 85%;
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
    // outline: 1px solid red;
  }
  .visualName{
    min-width: 3vmax;
    max-width: 95%;
    overflow: hidden;
    // flex-grow: 1;
    // outline: 1px solid blue;
  }
}