.roleSandbox {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  animation: appearance 300ms ease-in-out forwards;
  z-index: 999;

  .oneRoleSandbox {
    width: 75%;
    height: 85%;
    margin: auto;
    background-color: #f6f6fb;
    display: flex;
    flex-direction: column;
    .roleData {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      padding: .5vmax;

      .searchBlank {
        width: 100%;
        height: 2.7vmax;
      }
      .searhResult {
        margin-top: 1vmax;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        align-items:stretch;
        padding: .5vmax;
        
        // 
        .serchItem {
          display: flex;
          
          button {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 1vmax .5vmax;
            background-color: transparent;
            outline: .1vmax solid transparent;
            transition: outline .3s;

            .label {
              color: gray;
              text-align: left;
              overflow: hidden;
              margin-right: 1vmax;
              white-space: nowrap;
            }
            .name {
              text-align: left;
              flex-grow: 1;
            }
            .code {
              color: rgb(192, 191, 191);
            }

            &:hover,
            &:focus {
              outline: .1vmax solid grey;
            }                            
          }
        }
      }

    }
    .control {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 1vmax;

      button {
        width: 35%;
        min-height: 20px;
        height: 4vh;
        background-color: transparent;
        border: .1vmax solid grey;
        border-radius: .3vmax;
        color: #161619;
        transition: background-color .3s;

        &:hover,
        &:focus {
          background-color: #16161919
        }
      }
    }

    outline: 1px solid grey;
  }


  //
  // Dark styles
  //
  &.dark {
    background-color: transparent;
      .oneRoleSandbox {
        background-color: #161619f8;
        .control {
          button {
            background-color: transparent;
            border: .1vmax solid grey;
            color: wheat;

            &:hover,
            &:focus {
              background-color: #ffffff18
            }
          }
        }

        .roleData {
          .searhResult {
            .serchItem {

              .label {
                // color: wheat;
              }
              .name {
                color: white
              }
            }
          }  
        }        

        outline: .1vmax solid grey;
      }

    @keyframes appearance {
      0% {
        opacity: .3;
      }
      100% {
        opacity: 1;
      }
    }
    
    @media screen and (max-width: 1000px) {
    
    }

  }
}
